@import "normalize.css";


#page1 {
    height: 100vh;
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: white;
}






.container {
    width: 1000px;
    margin: 0 auto;
}


html{
    font-size: 20px;
}

body {
    background-color: rgb(255, 256, 236);
}


h1{
    color: rgb(255, 255, 255);
}










.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    box-shadow: rgba(247, 228, 119, 0.15) 1.95px 1.95px 2.6px;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header nav > ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-header nav > ul a {
    color: black;
    text-decoration: none;
}

footer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}



