@import "normalize.css";





#page {
    display :flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: rgb(0, 0, 0);
    margin-top: 130px;
    margin-bottom: 100px;
}






.container {
    width: 1000px;
    margin: 0 auto;
}


html{
    font-size: 17px;
    font-family:  Arial, sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
}













.main_head {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    box-shadow: rgba(247, 228, 119, 0.15) 1.95px 1.95px 2.6px;
}

.main_head .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_head nav > ul {
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main_head nav > ul a {
    color: black;
    text-decoration: none;
}

footer{
    background-color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 8px;
}



.barre{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    width: 100%;
    padding: 20px 0;
}


button{
    height: 40px;
}


.btn{
    display: flex;
    padding:0.5rem;
    border-radius: 15px;
    border-color: rgb(3, 104, 255);
    color: rgb(3, 104, 255);
    cursor: grab;
    font-size: 1rem;
    text-decoration: none;

}


.btn.btn-blue{
    background-color: blue;
    color: white;
    border-radius: 10px;

}



.btn:hover{
    background-color: rgb(75, 75, 75);
}

.btn.btn_orange{

    background-color: orange;
    border-color: orange;
    color: white;
    border-radius: 50px;
}

svg{
    width: 20px;
    padding: 0;
    margin: 0;
}


.svgbtn{
    display: flex;
    align-content: center;
    justify-content: center;
    
}


.espace{
    display: flex;

}

.espace_btn{
    display: flex;
    gap: 27px;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 340px;
    svg{
        width: 15px;
    }
    p{
        font-size: 13px;
    }
    

    
}


.card.card_projet{

    width: 500px;

}

.card_espace{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px;
}



